<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.momoon.board.post.repository.PostRepository">

    <select id="findListByCategoryId" >
        SELECT *
        FROM post p
        WHERE
            P.categoryId = #{categoryId}
            <if test="searchWord != null">
                AND
                <choose>
                    <when test="searchSelect == '제목'">p.title LIKE %#{searchWord}% </when>
                    <when test="searchSelect == '내용'">p.content LIKE %#{searchWord}% </when>
                </choose>
            </if>
        LIMIT #{limit} OFFSET #{offset}

    </select>

    <update id="updateViewCntById">
        UPDATE post
        SET
            viewCnt = viewCnt + 1
        WHERE id = #{id}
    </update>

    <select id="findDetailById" resultType="com.momoon.board.post.domain.PostDetail">
        SELECT
            p.id,
            p.title,
            p.content,
            p.viewCnt,
            p.createDate,
            p.modifyDate,
            p.personalId,
            m.nickname
        FROM post p
        LEFT JOIN member m ON p.memberId = m.id
        WHERE p.id = #{id}
    </select>

    <insert id="savePost" parameterType="com.momoon.board.post.domain.PostRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            post(
                 title,
                 content,
                 memberId,
                 categoryId,
                 personalId,
                 password
            ) VALUES
                  (
                   #{title},
                   #{content},
                   #{memberId},
                   #{categoryId},
                   #{personalId},
                   #{password}
                  )
    </insert>

    <select id="findById" parameterType="Long" resultType="com.momoon.board.post.domain.Post">
       SELECT
           *
       FROM post
       WHERE id = #{id}
    </select>

    <update id="updatePost">
        UPDATE post
        SET
            title = #{title},
            content = #{content},
            modifyDate = now()
        WHERE id = #{id}
    </update>

    <delete id="deletePost">
        DELETE FROM post
        WHERE id = #{id}
    </delete>

    <select id="countByCategoryId">
        SELECT
            COUNT(*)
        FROM post p
        WHERE categoryId = #{categoryId}
    </select>

</mapper>